.time-warn {
  background-color: orange;
  color: white;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.time-danger {
  background-color: crimson;
  color: white;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.time-normal {
  color: black;
}

.time-mobile {
  font-size: x-small;
  margin: '1em';
}
.time-desktop {
  margin: '1em';
  font-size: x-large;
}
