.time-warn {
  color: orange;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.time-danger {
  color: red;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.time-normal {
  color: black;
}

.time-mobile {
  font-size: x-small;
}
.time-desktop {
  font-size: x-large;
}
